
html, body {
  margin: 0;
}


* {
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 300;
}

header, footer {
  background: rgb(52, 52, 52);
  color: white;
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  min-height: 100px;
  padding: 1rem;
}

main { 
  min-height: calc(100vh - 200px)
}

header a {
  color: white;
}

.centerer {
  width: calc(100% - 40px);
  max-width: 850px;
  margin: auto;
}

img {
  width: 250px;
  border: 3px solid black;
  float: left;
  margin-right: 1em !important;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.word-block{
  display: inline-block;
  padding: .7rem 1rem;
}

nav {
  margin-bottom: 1rem;
}

nav a {
  font-size: 1.3rem;
  display: inline-block; 
  padding: 0 .5rem;
  border-right: 2px solid grey;
  font-weight: 300;
}

nav a:last-child {
  border-right: none;
}

.skill-block{
  padding: 0.1rem;
}